.results-container {
  background-color: white;
  display: none;
  width: 540px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  position: relative;
  visibility: hidden;
  min-height: 295px;
  height: auto;
  .results-info {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    b {
      font-weight: bold;
    }
  }
}
.results-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
.info-wrapper {
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
  .network {
    float: left;
  }
  .rating {
    float: right;
  }
}

.slide-class {
  animation: slideresults .3s cubic-bezier(.17,.67,.31,.89);
  visibility: visible;
}

@keyframes slideresults {
  0%,
  100% {
    top: 0px;
    right: 0px;
    transform: rotateZ(0deg) skewX(0deg);
  }
  50% {
    right: 700px;
    top: 50px;
    transform: rotateZ(-9deg) skewX(4deg);
  }
}
